.App {
  text-align: center;
  justify-content: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
  text-decoration: none;
  padding: 0rem 0.5rem;
}

.nav-bar {
   padding: 0.5rem 0 ; 
}    

#more, #menus, #hours {
    float: left;
}

#takeout {
    margin-right: 6rem;
}

#home {
    float: right;
    align-items: right;
    justify-content: right;
}
